body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}
.time-container {
    text-align: center;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.time-container h1 {
    margin: 0;
    font-size: 2em;
    color: #333;
}
.time-container p {
    margin: 5px 0 0;
    font-size: 1.5em;
    color: #666;
}
#gifContainer {
    display: none; /* Initially hidden */
    position: fixed;
    top: 50%;
    left: 50%;
     transform: translate(-50%, -50%);
    z-index: 1000;
}
